<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Suite">

<listeners>
<!-- <listener class-name="com.test.uiAutomation.MasherqDigital.customListner.Listener"></listener>  -->
<listener class-name="com.test.uiAutomation.MasherqDigital.customListner.RetryListener"></listener> 
</listeners>

<test name="HomePageTest">
<classes>
<class name="com.test.uiAutomation.MasherqDigital.HomePage.HomePageTestCases"></class>
<class name="com.test.uiAutomation.MasherqDigital.ContactPage.ContactPageFieldValidationTestCases"></class>
<class name="com.test.uiAutomation.MasherqDigital.ContactPage.ContactPageTestCases"></class>
</classes>
</test>



</suite>